.appBar {
    position: relative !important;
}

.title {
    margin-left: 2rem;
    flex: 1;
}

.image {
    display: block;
    margin: 0 auto;
    width: auto;
    max-width: 100%;
}

.content {
    height: 100% !important;
}

.navigationColumn {
    flex-grow: 1 !important;
}

.navigationButton {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    cursor: pointer;
}
.navigationButton:hover {
    background-color: rgba(0, 0, 0, 0.25);
}